<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/whhg.css">
    <title>TextMe - Account & Friends</title>
</head>
<body>

<!-- Блок левого меню (отображается на каждой странице) -->
<div class="left-menu">

    <!-- Три верхних вкладки -->
    <div class="left-title">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="icon-chat"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><img src="img/logo.jpg" class="acc-logo"></a>
            </li>
        </ul>
    </div>
    <hr>
    <!-- Часть левого меню хранящая ссылки на чаты -->
    <div class="chats scroll">
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
        <a href="/id">
            <div class="left-content btm-border">
                <img src="img/friend.jpg">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
    </div>
</div>
<!-- Блок аккаунта и стена  -->
<div class="acc-content scroll">
    <div class="acc-info btm-border">
        <img src="img/logo.jpg">
        <h3>Дима Гончар</h3>
        <p>Рождён в Украина, Харьков</p>
        <span>Родился 03.09.1998</span>
        <button type="button" class="btn btn-primary bottom">Добавить в друзья</button>
    </div>
    <div class="blog">
        <div class="post-field">
            <form>
                <div class="form-group no-mg">
                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Чем вы хотите поделиться?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-right-align">Создать запись</button>
            </form>
        </div>
        <div class="blog-post">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <span>Диана Кретова</span>
            </a>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, dolorum mollitia eligendi numquam corporis quaerat! Qui illo doloribus est quidem totam quia dolore, sunt quae tempora, enim corrupti consequuntur animi, similique nulla unde doloremque reiciendis. Culpa pariatur esse enim tempora est, sint consequatur vero, fuga, totam eos perferendis exercitationem facere.</p>
            <div class="comment-content">
                <form class="form-inline no-mg">
                    <input type="text" class="form-control mr-sm-2 com-field" placeholder="Комментарий">
                    <button type="submit" class="btn btn-primary btn-right-align">Сохранить</button>
                </form>
                <!-- Комментарий -->
                <div class="comment">
                    <a href="/accounts/id">
                        <img src="img/logo.jpg">
                        <span>Дима Гончар</span>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta sed suscipit ipsam maxime quae nulla, corporis asperiores incidunt animi.</p>
                </div>
                <div class="comment">
                    <a href="/accounts/id">
                        <img src="img/friend.jpg">
                        <span>Диана Кретова</span>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta sed suscipit ipsam maxime quae nulla, corporis asperiores incidunt animi.</p>
                </div>
            </div>
        </div>
        <div class="blog-post">
            <a href="/accounts/id">
                <img src="img/logo.jpg">
                <span>Дима Гончар</span>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, mollitia quaerat provident autem, consequuntur possimus, debitis minima officiis consequatur libero voluptas? Totam, fuga! Eveniet, placeat blanditiis debitis quia eligendi sit, accusamus provident quae, et unde laudantium id maxime. Unde dicta at facilis nihil exercitationem iure nobis vitae dolores distinctio adipisci tenetur obcaecati architecto dolorum nesciunt est, officiis ea impedit cum id? Cum quia dolor nulla odit dicta. Asperiores, tempore repellat?</p>
            <div class="comment-content">
                <form class="form-inline no-mg">
                    <input type="text" class="form-control mr-sm-2 com-field" placeholder="Комментарий">
                    <button type="submit" class="btn btn-primary btn-right-align">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Левый блок друзей -->
<div class="friend-list">
    <div class="search-friend btm-border">
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Поиск друга">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
    <div class="friends scroll">
        <h5 class="btm-border">20 друзей</h5>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
        <div class="friend btm-border">
            <a href="/accounts/id">
                <img src="img/friend.jpg">
                <p>Диана Кретова</p>
            </a>
            <a class="write-mes" href="/id">Написать сообщение</a>
        </div>
    </div>
</div>
    
</body>
</html>