{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
{% endblock css %}

{% block title %}
TextMe - Диалоги
{% endblock title %}

{% block content %}

{% if show == True %}

    <!-- Блок чата -->
    <div class="chat-content">
        <!-- С кем чат -->
        <div class="chat-with-person">
            Чат с: <a href="/accounts/id.html">Диана Кретова</a>
        </div>
        <hr>
        <!-- Окно чата -->
        <div class="chat-window scroll">
            <!-- Каждый ul для одного сообщения -->
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque accusamus perspiciatis rem voluptatem blanditiis voluptates, rerum, hic corporis magni vel odit molestiae eveniet? Modi animi ut culpa aperiam! Nesciunt, commodi.<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 2<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita laborum nam quos eum unde assumenda autem, nihil nulla magni consequuntur!<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 3<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 2<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 3<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 4<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 5<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 4<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magnam.<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 6<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 6<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="user-mes">Сообщение пользователя 7<span>12:03</span></li>
            </ul>
            <ul class="mes-container">
                <li class="friend-mes">Сообщение друга 7<span>12:03</span></li>
            </ul>
        </div>
        <!-- Поле для ввода текста сообщения -->
        <div class="mes-field">
            <form>
                <div class="form-group no-mg file-upload">
                    <input type="text" class="form-control" placeholder="Введите текст сообщения">
                    <label>
                        <input type="file" class="not-full-line"><span><i class="icon-paperclip"></i></span>
                    </label>
                    <button type="submit" class="btn btn-primary btn-right-align">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Информация о собеседнике -->
    <div class="interlocutor-content scroll">
        <div class="il-info">
            <img src="img/friend.jpg">
            <h3>Диана Кретова</h3>
            <p>Украина, Харьков</p>
            <span>07.06.2005</span>
            <hr>
        </div>
        <div class="shared-photos">
            <p><span><i class="icon-images-gallery"></i></span> ОБЩИЕ ФОТО</p>
            <img src="img/photo.jpg">
            <img src="img/Endless.jpg">
            <img src="img/motiv.jpg">
            <img src="img/willsmith.jpg">
            <img src="img/photo.jpg">
            <img src="img/Endless.jpg">
            <img src="img/motiv.jpg">
            <img src="img/willsmith.jpg">
            <img src="img/photo.jpg">
            <img src="img/Endless.jpg">
            <img src="img/motiv.jpg">
            <img src="img/willsmith.jpg">
        </div>
    </div>

{% else %}

    <div class="empty-chat">
        Окно чата пусто! <br>
        Напишите кому-нибудь или выберите диалог на панели слева
    </div>

{% endif %}
    
{% endblock content %}