{% extends "base.html" %}
{% load static %}

{% block title %}TextMe - Account{% endblock title %}

{% block content %}

<!-- Блок аккаунта и стена  -->
<div class="acc-content scroll">
    <div class="acc-info btm-border">

        {% if account.user.id == user.id %}
        
            {% if account.user.avatar %}
                <img src="/main_app/uploads/{{ account.user.avatar }}" alt="">
            {% else %}
                <a href=""></a> <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
            {% endif %}
            <h3>{{ account.user.first_name }} {{ account.user.second_name }}</h3>
            {% if account.user.birth_place %}
                <p>{{ account.user.birth_place }}</p>        
            {% endif %}
            {% if account.user.birth_date %}
                <span>{{account.user.birth_date}}</span>
            {% endif %}
            <a href="/logout">
                <button type="button" class="btn btn-primary bottom">Выйти</button>
            </a>

        {% else %}
        
            {% if account.user.avatar %}
                <img src="/main_app/uploads/{{ account.user.avatar }}" alt="">
            {% else %}
                <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
            {% endif %}

            <h3>{{ account.user.first_name }} {{ account.user.second_name }}</h3>

            {% if account.user.birth_place %}
                <p>{{ account.user.birth_place }}</p>        
            {% endif %}
            {% if account.user.birth_date %}
                <span>{{account.user.birth_date}}</span>
            {% endif %}

            {% if not account.user in bookmarks %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="bookmark" value="{{ account.user.id }}" class="btn btn-primary bottom">Добавить в закладки</button>
                </form>
            {% endif %}

            <a href="/chat/{{ account.user.id }}">Написать сообщение</a>

        {% endif %}
    </div>
    <div class="blog">
        <div class="post-field">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group no-mg">
                    <textarea class="form-control" name="wallpost" rows="3" placeholder="Чем вы хотите поделиться?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-right-align">Создать запись</button>
            </form>
        </div>
        
        {% for post in wallposts %}
            <div class="blog-post">
                <a href="/account/{{ post.author.id }}">
                    {% if post.author.avatar %}
                        <img src="/main_app/uploads/{{ post.author.avatar }}" alt="">
                    {% else %}
                        <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
                    {% endif %}
                    <span>{{ post.author.first_name }} {{ post.author.second_name }}</span>
                </a>
                <p>{{ post.post_text }}</p>
                <div class="comment-content">
                    <form method="POST" class="form-inline no-mg">
                        {% csrf_token %}
                        <input type="text" name="comment" class="form-control mr-sm-2 com-field" placeholder="Комментарий">
                        <button type="submit" name="to_post" value="{{ post.id }}" class="btn btn-primary btn-right-align">Сохранить</button>
                    </form>
                    
                    <!-- Комментарии -->
                    {% for comment in post.comments %}
                        <div class="comment">
                            <a href="/account/{{ comment.author.id }}">
                                {% if comment.author.avatar %}
                                    <img src="/main_app/uploads/{{ comment.author.avatar }}" alt="">
                                {% else %}
                                    <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
                                {% endif %}
                                <span>{{ comment.author.first_name }} {{ comment.author.second_name }}</span>
                            </a>
                            <p>{{ comment.comment_text }}</p>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<!-- Правый блок друзей -->
<div class="friend-list">
    <div class="search-friend btm-border">
        <form action="/account/{{ account.user.id }}" class="form-inline">
            <input type="text" name="q" class="form-control" placeholder="Поиск друга">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
    <div class="friends scroll">
        {% if search_acc == 'Нет совпадений' %}
            <h5 class="btm-border">Нет совпадений</h5>
        
        {% elif search_acc %}
            <h5>Найденный аккаунт:</h5>
            <div class="friend btm-border">
                <a href="/account/{{ search_acc.id }}">

                    {% if search_acc.avatar %}
                        <img src="/main_app/uploads/{{ search_acc.avatar }}">
                    {% else %}
                        <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
                    {% endif %}

                    <p>{{ search_acc.first_name }} {{ search_acc.second_name }}</p>
                </a>
                <a class="write-mes" href="/chat/{{ search_acc.id }}">Написать сообщение</a>
            </div>

        {% elif bookmarks %}
        
            <h5>Закладок: {{ bookmarks_amount }}</h5>

            {% for user in bookmarks %}
                <div class="friend btm-border">
                    <a href="/account/{{ user.id }}">
                        {% if user.avatar %}
                            <img src="/main_app/uploads/{{ user.avatar }}">
                        {% else %}
                            <img src="{% static 'staticfiles/img/default-logo.jpg' %}">
                        {% endif %}
                        <p>{{ user.first_name }} {{ user.second_name }}</p>
                    </a>
                    <a class="write-mes" href="/chat/{{ user.id }}">Написать сообщение</a>
                </div>
            {% endfor %}

        {% else %}
            <h5>У вас еще нет закладок</h5>

        {% endif %}
    </div>
</div>

{% endblock content %}