<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'staticfiles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'staticfiles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'staticfiles/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'staticfiles/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'staticfiles/css/whhg.css' %}">
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

<!-- Блок левого меню (отображается на каждой странице) -->
<div class="left-menu">

    <!-- Три верхних вкладки -->
    <div class="left-title">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/chats"><i class="icon-chat"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/{{ user.id }}"><img src="{% static 'staticfiles/img/logo.jpg' %}" class="acc-logo"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="icon-exit"></i></a>
            </li>
        </ul>
    </div>
    <hr>
    <!-- Часть левого меню хранящая ссылки на чаты -->
    <div class="chats scroll">
        <a href="/id">
            <div class="left-content btm-border">
                <img src="{% static 'staticfiles/img/friend.jpg' %}">
                <h5>Диана Кретова</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
        </a>
    </div>
</div>

{% block content %}{% endblock content %}

</body>
</html>