<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Animated Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free Web Designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link rel="shortcut icon" href="{% static 'staticfiles/img/favicon.png' %}" type="image/png">	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<title>TextMe - {% block title %}{% endblock title %}</title>	
	<link rel="stylesheet" href="{% static 'form/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'form/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'form/css/animate.min.css' %}"> 
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="styleshee">
	{% block css %}{% endblock css %}
</head>
<body>
	<div class="agileits">
		<div class="w3-agileits-info">
			<form class="form animate-form" id="form1" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<p class="w3agileits">{% block top-text %}{% endblock top-text %}</p>
				{% block content %}{% endblock content %}
			</form>
		</div>
	</div>
	<script src="{% static 'form/js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'form/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'form/js/formAnimation.js' %}"></script>
	<script src="{% static 'form/js/shake.js' %}"></script>
</body>
</html>